<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60000">
	<property name="LOG_HOME" value="/logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/human.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
<!-- 	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    	<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      		<dataSource class="com.alibaba.druid.pool.DruidDataSource">
        		<driverClass>dm.jdbc.driver.DmDriver</driverClass>
        		<jdbcUrl>jdbc:dm://182.150.20.153:5236?comOra=true</jdbcUrl>
        		<user>HUMAN</user>
        		<password>wonders2018</password>
      		</dataSource>
    	</connectionSource>
  </appender> -->

	<logger name="java.sql" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.aop" level="ERROR" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.bean" level="INFO" >

		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.context" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.orm" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="ERROR" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="net.sf.ehcache" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.alibaba.druid" level="ERROR" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.shiro" level="ERROR" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.wondersgroup" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.wondersgroup.framework.shiro" level="INFO" >
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>